/****

    WOO COMMERCE 
    
**************/

.ast-woocommerce-container {
    padding: 0px 0;
    background-color: var(--primary-black);
    border-color: var(--primary-green);


    .woocommerce-breadcrumb { display: none; }

    .woocommerce-products-header {
        padding: 3rem;
        background: url(assets/img/interior-header.jpg) no-repeat center;
        height: 30rem;  
    
        .woocommerce-products-header__title {
            margin: 5rem;
            color: var(--primary-yellow);
            text-align: center;
        }
    }

    .woocommerce-MyAccount-navigation-link {
        list-style: none;
        border: 1px solid rgba(0,0,0,.1);
        border-bottom-width: 0;
        background: var(--primary-white);
        margin-left: 0rem;
        padding-left: 0rem !important;
    }

    .woocommerce div.product div.images img {
        display: block;
        width: inherit;
        margin: 10px auto;
        height: auto;
        box-shadow: none;
    }

    .wc-block-featured-product {
        overflow: hidden;
        height: 100%;
        margin: 0rem 0;
    }


    .woocommerce-MyAccount-navigation-link {
        list-style: none;
        border: 1px solid rgba(0,0,0,.1);
        border-bottom-width: 0;
        background: var(--primary-white);
        margin-left: 0rem;
        padding-left: 0rem !important;
    }

  
    /** Checkout **/
    .woocommerce a.remove {
        display: block;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
        font-weight: 400;
        font-size: 18px;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 21px;
        border-radius: 100%;
        color: var(--primary-dark-blue);
        text-decoration: none;
        border: 1px solid var(--primary-dark-blue);
    }

    .small-font {
        font-size: .9rem;
    }


    .woocommerce a.added_to_cart {
        margin: 2rem;
        padding: .4em .4em;
        display: block;
        background-color: var(--woo-add-cart-color) !important;
    }

    .woocommerce div.product p.price {
        color: var(--woo-price-color);
    }

    .wc-block-featured-product .wc-block-featured-product__description p {
        margin: 0;
        line-height: 1.5em;
        color: var(--primary-black);
        font-size: 1rem;
    }

    .wc-block-featured-product .wc-block-featured-product__description, .wc-block-featured-product .wc-block-featured-product__price, .wc-block-featured-product .wc-block-featured-product__title, .wc-block-featured-product .wc-block-featured-product__variation {
        color: var(--primary-color);
        line-height: 1.25;
        margin-bottom: 0;
        text-align: center;
    }

    /** Products Page **/
    .woocommerce ul.products li.product .woocommerce-loop-product__link, .woocommerce-page ul.products li.product .woocommerce-loop-product__link {
        position: relative;
        display: block;
        height: 200px;
    }
    .astra-shop-summary-wrap {
        display: flex;
        flex-flow: column nowrap;
        
    }
    .woocommerce a.button, .woocommerce button.button, .woocommerce .woocommerce-message a.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce input.button, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled], .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover, .woocommerce #respond input#submit, .woocommerce button.button.alt.disabled, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link, .wc-block-grid__product-onsale {
        color: var(--primary-white);
        border-color: var(--primary-orange);
        background-color: var(--primary-orange);
    }
    .woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li {
        border-color: var(--primary-orange);
    }

    .woocommerce nav.woocommerce-pagination ul li a {
        color: var(--primary-orange)
    }
    .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
        color: var(--primary-white);
        border-color: var(--primary-orange);
        background-color: var(--primary-orange);
    }

    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        text-align: left;
        margin-bottom: 2.5em;
        border: 1px solid #ccc;
        padding: 20px;
    }
    .wc-block-featured-product {
        overflow: hidden;
        height: 100%;
        margin: 0rem 0;
    }




   

}
 /** Checkout ********************************/

 

.woocommerce-error, .woocommerce-info, .woocommerce-message {
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    background-color: #000 ;
    color: var(--primary-white);
    border-top: 3px solid var(--primary-green);
    list-style: none outside;
    width: auto;
    word-wrap: break-word;

    a.showcoupon { color: var(--primary-yellow); }
}

#customer_details h3:not(.elementor-widget-woocommerce-checkout-page h3) {
	font-size: 1.2rem;
	padding: 20px 0 14px;
	margin: 0 0 20px;
	border-bottom: 1px solid  var(--primary-green);
}

.woocommerce form .form-row .required {
	color: var(--primary-yellow);
	font-weight: 700;
	border: 0;
}




.woocommerce-terms-and-conditions-wrapper {
    p { font-size: 1rem; color: var(--primary-black); }
}



.woocommerce-thankyou-order-received { color: var(--primary-green);}


.woocommerce-page {
    
    form.woocommerce-checkout {
        background-color: #fff; 
        border: solid 2rem var(--primary-green);

        #customer_details.col2-set {
                .col-1 {
                    margin: 1rem;
                    background-color: #fff; 

                    .form-row textarea, input[type="email"], input[type="number"], input[type="password"], input[type="reset"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea, .woocommerce-page form .form-row textarea, .woocommerce-page input[type="email"], .woocommerce-page input[type="number"], .woocommerce-page input[type="password"], .woocommerce-page input[type="reset"], .woocommerce-page input[type="search"], .woocommerce-page input[type="tel"], .woocommerce-page input[type="text"], .woocommerce-page input[type="url"], .woocommerce-page textarea {
                        border: 1px solid var(--primary-green);
                        background: #fff;
                        box-shadow: none;
                        border-radius: 0;
                        color: rgb(73, 73, 73);
                        font-size: 1rem;
                    }
                    h3 { color: var(--primary-black)!important;}
                    .woocommerce-billing-fields__field-wrapper, .woocommerce-order-details { 
                       

                        p label { 
                            color: var(--primary-green); 
                    
                            abbr { color: var(--primary-yellow); }
                        
                        }
                    
                        input[type="email"], input[type="number"], input[type="password"], input[type="reset"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea {
                            color: #666;
                            padding: .75em;
                            height: auto;
                            border-width: 1px;
                            border-style: solid;
                            border-color: var(--primary-green)!important;
                            border-radius: 2px;
                            background: #fafafa;
                            box-shadow: none;
                            box-sizing: border-box;
                            transition: all .2s linear;
                        }
                    
                        .select2-container--default .select2-selection--single {
                            line-height: 2em;
                            font-size: 1rem;
                            background-color: var(--primary-white);
                            border: 1px solid var(--primary-green);
                            border-radius: 4px;
                            color: #666;
                        
                            .select2-results__option--highlighted[aria-selected], .select2-results__option--highlighted[data-selected] {
                                background-color: var(--primary-green)!important;
                                color: #666;
                            }
                          
                        
                            .select2-results__option[aria-selected="true"], .select2-results__option[data-selected="true"] {
                                background-color: var(--primary-green);
                            }
                            .select2-selection__rendered {
                                color: #666;
                                line-height: 28px;
                            }

                            .select2-results__option {
                                padding: 6px;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                -webkit-user-select: none;
                                color:#666;
                            }
                        }
                    }   
                    
                   
                    
                }
        }

        

        /** Additional Info **/
        .woocommerce-additional-fields__field-wrapper {
            color: var(--primary-black);

        }

        /** Order View Header **/
        #order_review_heading:not(.elementor-widget-woocommerce-checkout-page #order_review_heading) {
            border-width: 0 0rem 0 1px!important;
            border-style: solid;
            font-size: 1.2rem;
            margin: 0;
            //padding: 1.5em 1.5em 1em;
            border-color: var(--primary-green);
            color: var(--primary-black);
        }
    
         /** Order Review **/
        #order_review.woocommerce-checkout-review-order-table,  #order_review:not(.elementor-widget-woocommerce-checkout-page #order_review) {
            border: 0 0 0 1px!important;
            table, thead, th, tr, td { 
                border-top: 0;
                border-right: 0;
                padding-left: 0;
                border-color: var(--primary-green);
            
                color: black; 
            }
            td.product-name .wc-item-meta dd, td.product-name dl.variation dd {
                margin: 0;
            
                color: var(--primary-black);
            
                p {
                font-size: .95em;
                color: var(--primary-black);
                }
            }

        }
    }


   


   
}


.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
	background-color: var(--primary-green);
	color: #fff;
}


.woocommerce-page.woocommerce-checkout .woocommerce-order h2.woocommerce-column__title, .woocommerce-page.woocommerce-checkout .woocommerce-order h2.woocommerce-order-details__title, .woocommerce.woocommerce-checkout .woocommerce-order h2.woocommerce-column__title, .woocommerce.woocommerce-checkout .woocommerce-order h2.woocommerce-order-details__title {
    background: var(--primary-black);
    padding: 1em;
    margin-bottom: 0;
    font-size: 1.3rem;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: var(--primary-green);
}

.woocommerce .woocommerce-customer-details .woocommerce-customer-details--email, .woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone {
    margin-bottom: 0;
    font-size: 1rem;
    padding-left: 1.5em;
}


.woocommerce-order-details {
    table.shop_table {
        border: solid 1px var(--primary-green);
        th, tr, td, td.product-name .wc-item-meta dd, td.product-name dl.variation dd {
        border: solid 1px var(--primary-green)!important;
        margin: 0;

        color: var(--primary-white);

            p {
            font-size: .95em;
            color: var(--primary-white);
            }
        }
    }
}

.woocommerce .woocommerce-Addresses address, .woocommerce .woocommerce-MyAccount-content address, .woocommerce .woocommerce-customer-details address, .woocommerce-account .woocommerce-Addresses address, .woocommerce-account .woocommerce-MyAccount-content address, .woocommerce-account .woocommerce-customer-details address {
	border: 1px solid var(--primary-green);
	padding: 1em;
	border-radius: 0;
}