/** Mobile **/

span.site-title a {
    color: var(--primary-yellow)!important;
}
.ast-mobile-popup-content { 

      
    .ast-primary-header-bar {
        border-bottom-width: 0rem;
        border-bottom-color: var(--primary-orange);
        border-bottom-style: solid;
        background-color: rgba(0, 0, 0, 0.63);
    
    }
    
   

    [data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-toggle-icon .ast-mobile-svg {
        width: 3rem;
        height: 3rem;
        fill: var(--toggle-color);
    } 

    .main-navigation {
        background-color: rgba(0, 0, 0, 0.63);
        border-bottom-width: 0rem;
        border-bottom-color: var(--primary-orange);
        border-bottom-style: solid;
    
    
     ul {
        padding: 0 20px;
        display: inline-block;
        width: 100%;
        border: 0;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #eaeaea;
        font-size: 1.75em;

        li.menu-item {
            
            background-color: var(--main-menu-background-color);
            border: var(--main-menu-border-size) var(--main-menu-border-style) var(--main-menu-border-color);
            border-radius: var(--main-menu-border-radius); 
            text-align: var(--main-menu-text-align);
            white-space: nowrap;
            font-family: var(--main-menu-font);
      
    
            a.menu-link {
                border-bottom: solid 1px var(--primary-green);
                margin: 0;
                padding: 1rem;
                color: var(--main-menu-color);
                font-size: 1.25rem;
                font-weight: var(--main-menu-weight);
                text-transform:  var(--main-menu-text-transform);
            }

            a.menu-link:hover {
                border-bottom: solid 1px var(--primary-yellow);
            }
        }

        li a:hover,   li.current-menu-item > a.menu-link, li.current-page-item > a.menu-link,  li a .current-menu-item {
            background: var(--main-menu-hover-background);
            border-left: solid  0px var(--primary-dark-blue);
            border-right: solid  0px var(--primary-dark-blue);
            color: var(--main-menu-hover);
        }
    }
}
    .ahfb-svg-iconset svg {
        width: 3rem;
        height: 3rem;
        transition: none;
        color: var(--toggle-color);
    }

    .ast-icon svg {
        fill: var(--toggle-color);
    }

    .ast-mobile-header-content .ast-builder-layout-element:not(.ast-builder-menu):not(.ast-header-divider-element), .ast-mobile-popup-content .ast-builder-layout-element:not(.ast-builder-menu):not(.ast-header-divider-element) {
        padding: 15px 20px;
        background-color: rgba(0, 0, 0, 0.63);
    }

   
 }



 [data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-toggle-icon .ast-mobile-svg {
    width: 3rem!important;
    height: 3rem!important;
    fill: var(--primary-green);
} 

.ahfb-svg-iconset svg {
	width: 3rem;
	height: 3rem;
	transition: none;
    fill: var(--primary-green);
}