/*****

   Variables
 
**************/
:root {

    /* Colour Settings */
    
    --light-blue: #97e2ff;
    --main-blue: #0398f4;
    --dark-blue: #182c6b;
 
    --primary-green: #11A797;
    --primary-dark-green: #12636C;
    --primary-yellow: #ffc726;


    --primary-black: #000;
    --primary-dark-gray: rgb(33, 52, 56);
    --primary-gray: rgb(211, 211, 211);
    --primary-white: #ffffff;
    --off-white: rgb(250, 255, 248);
    --primary-transparent: rgba(255, 255, 255, 0);

    --primary-color: var(--primary-green);
    --secondary-color: inherit;
    --accent-color: inherit;
     
    --gradient-yellow: linear-gradient( 90deg, rgba(255, 219, 27, 1) 0%, rgba(255, 199, 27, 1) 100%);
    --gradient-yellow-to-left: linear-gradient( to left, rgba(255, 219, 27, 1) 0%, rgba(255, 199, 27, 1) 100%);
    

    /* Font Settings */
    --primary-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Red Hat Display', sans-serif;
    --cursive-font: 'Libre Baskerville', serif;


    /* Body  */
    --body-background-color: var(--primary-transparent);
    --body-article-color: var(--primary-transparent);
    --body-border-radius: 0px 0px 0  0;
    --entry-meta-color: var(--primary-light-green);

    /* Header Properties */ 
    --full-header-background: rgba(0, 0, 0, 0.363);
    --top-header-background-color: var(--primary-transparent);
    --main-header-background-color: var(--primary-transparent);
    --bottom-header-background-color:var(--primary-transparent);;
    --transparent-header-background: inherit;

    --mobile-header-top-background: inherit;
    --mobile-header-dropdown:inherit;

    --toggle-color: var(--primary-green);
    --social-element-color: var(--primary-white);
    --cart-fill-color: var(--primary-yellow);
    --cart-border-color: var(--primary-yellow);
    --search-color: var(--primary-white);
    --member-login: var(--primary-white);

    /** MAIN MENU **/
    
    --main-menu-color: var(--primary-green);
    --main-menu-background-color: inherit;
    --main-menu-sub-menu-background-color: inherit;

    --main-menu-hover: var(--main-blue);
    --main-menu-hover-background: inherit;

    --main-menu-font: 'Red Hat Display', sans-serif;
    --main-menu-font-size: 1.2rem;
    --main-menu-weight: 800;
    --main-menu-border: inherit;
    --main-menu-text-transform: uppercase;

    --main-menu-border-size: inherit;
    --main-menu-border-style : inherit;
    --main-menu-border-color: inherit;
    --main-menu-text-transform: inherit;
    --main-menu-border-radius: inherit;

    --main-menu-dropdown-back: inherit;
    --sub-menu-background: var(--primary-black);

    --sticky-header-color:var(--primary-white);
    --sticky-header-color-active: var(--primary-gray);
 

    /** Footer **/
    --full-footer-background-color: var(--primary-black);
    --top-footer-color: inherit;
    --main-footer-color: var(--primary-transparent);
    --main-footer-border-size: 0;
    --main-footer-border-color: inherit;
    --below-footer-color: var(--primary-black);

    --primary-footer-font-color: var(--primary-gray);
    --footer-font-size: 1rem;

    /** Links **/
    --main-link-color: var(--primary-green);
    --main-link-hover: var(--primary-dark-gray);
    --main-link-hover-decoration: inherit;


    --site-title-color: var(--primary-yellow);
    --site-title-hover: var(--primary-green);
    
    --footer-link-color: var(--primary-gray);
    --footer-menu-hover-link: var(--primary-gray);

    /** Headings **/
    --heading-font: var(--cursive-font);
    --page-title-color: var(--primary-black);
    
    --h1-color: var(--primary-yellow) ;
    --h1-font-family: var(--cursive-font);
    --h1-font-size: 5rem;
    --h1-font-weight: 500;
    --h1-line-height: 1.2;
    --h1-text-transform: capitalize;

    --h2-color: var(--primary-yellow);
    --h2-font-family: var(--heading-font);
    --h2-font-size: 4rem;
    --h2-font-weight: 600;
    --h2-line-height: 1.38;
    --h2-text-transform: inherit;

    /** Button **/
    --primary-button-background-color: var(--gradient-yellow);
    --primary-button-background-hover: var(--main-blue);
    --primary-button-text-color: var(--primary-black);
    --primary-button-text-transform: inherit;
    --primary-button-font-weight: 600;
    --primary-button-text-transform: capitalize;
    --primary-button-font-size: 1.25rem;
    --primary-button-font-family: var(--secondary-font);

    --header-button-background-color: var(--gradient-yellow);
    --header-button-text-color: var(--primary-black);
    --header-button-background-hover:var(--primary-green);
    --header-button-text-hover: var(--primary-gray);
    --header-button-text-transform: capitalize;
    --header-button-font-weight: 600;
    --header-button-font-size: 1.25rem;


    /** Icon Colors **/
    --icon-color: var(--primary-orange);

    /** Woo Commerce **/
    --woo-add-cart-color: var(--primary-black);
    --woo-price-color: var(--primary-blue);

    /** Astra Global Colors **/
    --ast-global-color-0: var(--primary-green);
    --ast-global-color-1: var(--primary-light-green);
    --ast-global-color-2: var(--primary-yellow);         /* Heading Color */
    --ast-global-color-3: var(--primary-white);      /* Paragraph Color */
    --ast-global-color-4: #F5F5F5;
    --ast-global-color-5: #FFFFFF;
    --ast-global-color-6: #F2F5F7;
    --ast-global-color-7: #424242;
    --ast-global-color-8: #000000;
}

 body { font-size: 16px; background: #000; }
